.tile-row {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 162px);
  grid-auto-rows: 280px;
  grid-gap: 2em;
  margin-top: 2em;
  div {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    .text {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-left: 0.5em;
      margin-right: 0.5em;
      h1 {
        margin-top: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    img {
      height: 230px;
      width: 100%;
      object-fit: cover;
    }
  }
}
