<!-- This is the popup module used for reseting your password. After you provided the email you used to register on the website you will get an email from firebase where you can reset your password -->
<h1 style="text-align: center;" mat-dialog-title>
  Please enter your email address
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      autocomplete="off"
      matInput
      type="email"
      placeholder="Email"
      #passwordResetEmail
    />
  </mat-form-field>
</div>
<div class="btn" mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Back</button>
  <button
    mat-flat-button
    (click)="authService.ForgotPassword(passwordResetEmail.value)"
  >
    Send
  </button>
</div>
