@import "../../variables.scss";

.nav {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  h1 {
    margin-left: 2em;
  }
  .sub {
    display: flex;
    width: 80%;
    align-items: center;
    .select {
      display: flex;
      width: 80%;
      justify-content: flex-end;
      mat-form-field {
        margin: 1em;
        .mat-select-panel {
          background: $deco-color;
        }
      }
    }
    .season {
      text-align: start;
      margin-left: 2em;
    }
    h1 {
      margin-bottom: 0px;
    }
  }
}

.heading {
  margin: 3em;
  text-align: center;
}

.cards {
  display: grid;
  grid-auto-rows: 450px;
  gap: 2em;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  margin-top: 2em;
  h1 {
    margin-bottom: 0;
  }
  mat-card {
    background-color: $bg-color;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 250px;
    .name {
      grid-row: 1;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .score {
      grid-row: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      mat-icon {
        margin-bottom: 0;
      }
    }
    .info {
      grid-row: 3;
      display: flex;
      height: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      h1 {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .chips {
      grid-row: 4;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .chip {
        margin: 1em;
      }
    }
    .main-content {
      grid-row: 5;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 250px;

      justify-content: space-evenly;
      img {
        grid-column: 1;
        height: inherit;
        object-fit: contain;
        width: 100%;
      }
      p {
        grid-column: 2;
        font-family: "Roboto", sans-serif;
        object-fit: fill;
        overflow-x: scroll;
        margin-bottom: 0px;
        line-height: normal;
      }
    }
  }
}
