@import '../../variables.scss';
h1 {
  margin: 3em;
  text-align: center;
}
.container {
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  grid-auto-rows: 350px;
  grid-gap: 2em;
}
.tile-container {
  background-color: $bg-color;
  border-radius: 5px;
  height: 350px;
  overflow: hidden;
  line-height: 2em;
  cursor: pointer;
  img {
    border-radius: 4px 4px 0 0;
    height: 270px;
    width: 100%;
    object-fit: cover;
  }
  h1 {
    text-align: center;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0.5em;
  }
}
@media (max-width: 510px) {
  .container {
    grid-template-columns: 80% !important;
  }
}
@media (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(3, 30%);
  }
}
@media (min-width: 1100px) {
  .container {
    grid-template-columns: repeat(5, 15%);
  }
}
@media (min-width: 1600px) {
  .container {
    grid-template-columns: repeat(8, 10%);
  }
}
