<div class="main" style="padding-top: 64px">
  <h1>Monday</h1>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="tile-container">
      <div class="mat-elevation-z7">
        <img src="../../../assets/images/fmacover.jpg" alt="" />
        <h1 class="mat-h3">Anime Name</h1>
      </div>
      <div class="mat-elevation-z7">
        <img
          class="mat-elevation-z7"
          src="../../../assets/images/fmacover.jpg"
          alt=""
        />
        <h1 class="mat-h3"></h1>
      </div>
      <div class="mat-elevation-z7">
        <img
          class="mat-elevation-z7"
          src="../../../assets/images/fmacover.jpg"
          alt=""
        />
        <h1 class="mat-h3">Anime Name</h1>
      </div>
    </div>
  </div>
</div>
