@import '../../variables.scss';
h1 {
  margin: 1em;
  text-align: center;
}
.container {
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  grid-auto-rows: 350px;
  grid-gap: 2em;
}
.tile-container {
  height: 350px;
  cursor: pointer;
  img {
    height: 270px;
    width: 100%;
    object-fit: cover;
  }
  h1 {
    text-align: center;
    margin: 0;
    padding-top: 0.5em;
  }
}
