@import '../../variables.scss';

mat-toolbar {
  font-family: $font;
  background-color: $bg-color;
  position: fixed;
  z-index: 2;
  a {
    text-decoration: none;
    color: $txt-color;
  }
  .space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .logo {
    height: 1.8em;
  }
  a {
    margin: 12px;
    font-size: 16px;
    &:hover {
      color: $pri-color;
    }
  }
  .search {
    margin-right: 2em;
  }
  mat-search-bar {
    font-size: 16px;
  }
  .user_con {
    display: flex;
    height: 100%;
    align-items: center;
    .user {
      display: flex;
      margin: 12px;
      cursor: pointer;
      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-right: 0.5em;
      }
      h1 {
        font-family: $font;
        font-size: 16px;
      }
    }
  }
}
