@import "../../variables.scss";
.main {
  height: 100%;
}
.container {
  z-index: -1;
  .bg {
    z-index: 0;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 300px;
    background-image: url("../../../assets/images/profile_bg.jpg");
    background-size: cover;
  }
}
.content {
  position: relative;
  top: 200px;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .profile {
    z-index: 1;
    height: 130px;
    width: 60%;
    border-radius: 5px;
    background-color: $bg-color;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    .pf-img {
      height: 90px;
      width: 90px;
      border-radius: 50%;
      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
      }
    }
    .pf-info {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      h1 {
        font-size: 1.5em;
      }
      p {
        font-size: 1em;
        margin-bottom: 5px;
      }
    }
  }
}
.lists {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    margin: 1em;
  }
  mat-card {
    margin-bottom: 1em;
    display: flex;
    height: 130px;
    width: 800px;
    background-color: $bg-color;
    padding: 0;
    div {
      display: flex;
      height: 100%;
      align-items: center;
      h2 {
        width: 675px;
        margin-left: 10px;
        margin-right: 10px;
      }
      img {
        height: 100%;
        width: 150px;
        border-radius: 4px 0 0 4px;
        object-fit: cover;
      }
    }
    .btn {
      height: 100%;
      width: 75px;
    }
  }
}
@media (max-width: 768px) {
  .container {
    display: none;
  }
  .content {
    top: 0px !important;
  }
  .profile {
    padding: 10px;
    align-items: flex-start;
    width: 100% !important;
    height: 300px !important;
    flex-direction: column;
    flex-flow: wrap;
    .pf-img {
      order: 1;
    }
    .pf-info {
      order: 3;
      flex-flow: wrap;
      margin: 5px;
      .email {
        margin-bottom: 15px;
      }
      .username {
        margin-bottom: 15px;
      }
    }
    button {
      order: 2;
    }
  }
  .lists {
    text-align: center;
    mat-card {
      width: 100vw;
      height: 150px;
      div {
        width: 100vw;

        h2 {
          font-size: 1.3em;
          width: fit-content;
        }
        img {
          width: 80px;
          height: 150px;
        }
      }
    }
  }
}
