<div style="padding-top: 64px">
    <button mat-flat-button class="nav-link" (click)="authService.SignOut()">
        Log out
    </button>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Profile">
            <div class="profile" *ngIf="authService.userData as user">
                <div class="top">
                    <div class="user-img">
                        <img src="{{user.photoURL || ../../../../../assets/images/user.png" alt="">
                    </div>
                </div>
                <div class=" info">
                      <div class="uname">
                            <div class="shown">
                                    <h1>Username: &nbsp; {{user.name || 'username'}}</h1>
                                    <button mat-icon-button (click)=" toggleName()">
                        <mat-icon>build</mat-icon>
                        </button>
                    </div>
                    <div class="hidden" *ngIf="showName">
                        <mat-form-field>
                            <input placeholder="Username" autocomplete="off" matInput type="text" #displayName>
                        </mat-form-field>
                        <button mat-button>Update</button>
                    </div>
                </div>
                <div class=" email">
                    <div class="shown">
                        <h1>Email:&nbsp; {{user.email}}</h1>
                        <button mat-icon-button (click)="toggleEmail()">
                            <mat-icon>build</mat-icon>
                        </button>
                    </div>
                    <div class="hidden" *ngIf="showEmail">
                        <mat-form-field>
                            <input placeholder="Email" autocomplete="off" matInput type="text">
                        </mat-form-field>
                        <button mat-button>Update</button>
                    </div>
                </div>
                <div class=" email">
                    <div class="shown">
                        <h1>Change Profile Picture</h1>
                        <button mat-icon-button (click)="toggleImg()">
                            <mat-icon>build</mat-icon>
                        </button>
                    </div>
                    <div class="hidden" *ngIf="showImg">
                        <mat-form-field>
                            <input placeholder="Image Url" autocomplete="off" matInput type="text" #photoURL>
                        </mat-form-field>
                        <button mat-button (click)="authService.updateUser(photoURLe)">Update</button>
                    </div>
                </div>
            </div>
</div>
</mat-tab>
<mat-tab label=" Lists">
    <div></div>
</mat-tab>
</mat-tab-group>
</div>