<!-- This Page will be displayed after a successful registration and promts the user to verify his email address -->
<div style="padding-top: 64px">
    <mat-card>
        <h1>Thank You for Registering</h1>
        <div class="msg" *ngIf="authService.userData as user">
            <h1>We have sent a confirmation email to <strong>{{user.email}}</strong>.<br>
                Please check your email and click on the link to verfiy your email address.
            </h1>
        </div>
        <button mat-flat-button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            Resend Verification Email
        </button>
        <button mat-stroked-button routerLink="/login" (click)="authService.SignOut()">Go back to Login</button>
    </mat-card>
</div>