<div class="main" style="padding-top: 64px">
  <div class="container" alt="">
    <h1 class="mat-display-4">TOP ANIME</h1>
    <div class="overlay"></div>
  </div>
  <div>
    <mat-tab-group (selectedIndexChange)="tabChange($event)" dynamicHeight mat-align-tabs="center">
      <mat-tab label="Top Upcoming" (click)="tabUp()">
        <!-- List Navigation -->
        <div class="list-nav">
          <button mat-flat-button>
            <mat-icon>navigate_before</mat-icon>
            Prev 50
          </button>
          <button mat-flat-button>
            Next 50
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
        <!-- Anime Card -->
        <ng-container *ngIf="dataUp">
          <div class="card-container" *ngFor="let up of dataUp.top">
            <mat-card class="mat-elevation-z8">
              <h1 class="mat-display-3">{{up.rank}}</h1>
              <div class="img-con">
                <img src="{{up.image_url}}" alt="" />
              </div>
              <div class="info">
                <h1>{{up.title}}</h1>
                <h1 class="mat-h3">up.type</h1>
              </div>
              <h1>{{up.score}}<mat-icon>star</mat-icon>
              </h1>

              <button>+ Add</button>
            </mat-card>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Top Airing">
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Top TV" (click)="tabTv()">
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Top Movie" (click)="tabMov()"></mat-tab>
    </mat-tab-group>
  </div>
</div>