<div class="main" style="padding-top: 64px">
  <div class="container" alt="">
    <h1 class="mat-display-4">TOP ANIME</h1>
    <div class="overlay"></div>
  </div>
  <div>
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="All Anime">
        <!-- All Anime  -->
        <!-- List Navigation -->
        <div class="list-nav">
          <button mat-flat-button>
            <mat-icon>navigate_before</mat-icon>
            Prev 50
          </button>
          <button mat-flat-button>
            Next 50
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
        <!-- Anime Card -->
        <div class="card-container">
          <mat-card class="mat-elevation-z8">
            <h1 class="mat-display-3">1</h1>
            <img src="../../../assets/images/fmacover.jpg" alt="" />
            <div class="info">
              <h1>Anime Name</h1>
              <h1 class="mat-h3">TV 23 Episodes</h1>
            </div>
            <h1>8.23<mat-icon>star</mat-icon></h1>

            <button>+ Add</button>
          </mat-card>
        </div>
        <div class="card-container">
          <mat-card class="mat-elevation-z8">
            <h1>1</h1>
            <img src="../../../assets/images/fmacover.jpg" alt="" />
            <h1>Anime Name</h1>
            <h1>TV 23 Episodes</h1>
            <h1>8.23</h1>
            <button>+ Add</button>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Top Airing">
        <!-- Top Airing -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Top Upcoming">
        <!-- Top Upcoming -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Top Series">
        <!-- Top Series -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Top Movies">
        <!-- Top Movies -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Most Popular">
        <!-- Most Popular -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
