<div class="main" style="padding-top: 64px">
  <div class="container" alt="">
    <h1 class="top-anime-title">TOP 50 ANIME</h1>
    <div class="overlay"></div>
  </div>
  <div>
    <mat-tab-group dynamicHeight mat-align-tabs="center">

      <!-- Top Upcoming -->
      <mat-tab label="Top Upcoming">
        <ng-container *ngIf="dataUp">
          <div class="card-container" *ngFor="let up of dataUp.top">
            <mat-card (click)="toDetailPage(up)" class="mat-elevation-z5">
              <h1 class="rank">{{ up.rank }}</h1>
              <div class="img-con">
                <img src="{{ up.image_url }}" alt="" />
              </div>
              <div class="info">
                <h3>{{ up.title }}</h3>
                <h5>{{ up.type }}</h5>
              </div>
              <h1 class="score">{{ up.score }}<mat-icon>star</mat-icon></h1>
            </mat-card>
          </div>
        </ng-container>
      </mat-tab>

      <!-- Top Airing -->
      <mat-tab label="Top Airing">
        <ng-container *ngIf="dataAir">
          <div class="card-container" *ngFor="let air of dataAir.top">
            <mat-card (click)="toDetailPage(air)" class="mat-elevation-z5">
              <h1 class="rank">{{ air.rank }}</h1>
              <div class="img-con">
                <img src="{{ air.image_url }}" alt="" />
              </div>
              <div class="info">
                <h3>{{ air.title }}</h3>
                <h5>{{ air.type }}</h5>
              </div>
              <h1 class="score">{{ air.score }}<mat-icon>star</mat-icon></h1>
            </mat-card>
          </div>
        </ng-container>
      </mat-tab>

      <!-- Top TV -->
      <mat-tab label="Top TV">
        <ng-container *ngIf="dataTv">
          <div class="card-container" *ngFor="let tv of dataTv.top">
            <mat-card (click)="toDetailPage(tv)" class="mat-elevation-z5">
              <h1 class="rank">{{ tv.rank }}</h1>
              <div class="img-con">
                <img src="{{ tv.image_url }}" alt="" />
              </div>
              <div class="info">
                <h3>{{ tv.title }}</h3>
                <h5>{{ tv.type }}</h5>
              </div>
              <h1 class="score">{{ tv.score }}<mat-icon>star</mat-icon></h1>
            </mat-card>
          </div>
        </ng-container>
      </mat-tab>

      <!-- Top Movie -->
      <mat-tab label="Top Movie">
        <ng-container *ngIf="dataMov">
          <div class="card-container" *ngFor="let mov of dataMov.top">
            <mat-card (click)="toDetailPage(mov)" class="mat-elevation-z5">
              <h1 class="rank">{{ mov.rank }}</h1>
              <div class="img-con">
                <img src="{{ mov.image_url }}" alt="" />
              </div>
              <div class="info">
                <h3 class="title">{{ mov.title }}</h3>
                <h5 class="type">{{ mov.type }}</h5>
              </div>
              <h1 class="score">{{ mov.score }}<mat-icon>star</mat-icon></h1>
            </mat-card>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
