<div class="main">
  <div class="container">
    <h2>Welcome to</h2>
    <h1>Anilab</h1>
    <form action="">
      <mat-form-field>
        <input
          #box
          (keyup.enter)="getSearchPara(box.value)"
          autocomplete="off"
          placeholder="Search"
          matInput
          input="search"
        />
      </mat-form-field>
    </form>
    <div class="overlay"></div>
    <div class="bg-img">
      <img src="../../../assets/images/kime.jpg" alt="" />
    </div>
  </div>
</div>
