@import "../../variables.scss";

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    z-index: 99;
  }
  form {
    z-index: 99;
    width: 30vw;
    mat-form-field {
      width: 100%;
    }
  }
  .overlay {
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 26%, 0% 100%, 100% 100%);
    background-color: $pri-color;
    position: absolute;
    opacity: 0.2;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .bg-img {
    opacity: 0.2;
    position: absolute;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      );
    }
  }
}
