<div class="main" style="padding-top: 64px">
  <div class="anime-container">
    <div class="misc">
      <h1>Summer 2019</h1>
      <a (click)="toggleDisplay()">See More</a>
    </div>
    <div class="tile-container">
      <div class="tile-row">
        <app-anime-item></app-anime-item>
      </div>
    </div>
  </div>
  <div class="anime-container">
    <div class="misc">
      <h1>Summer 2019</h1>
      <a (click)="toggleDisplay()">See More</a>
    </div>
    <div class="tile-container">
      <div class="tile-row"></div>
    </div>
  </div>
</div>
