<div class="main" style="padding-top: 64px">
  <!--Anime Detail Background-->
  <div class="container" alt="">
    <div class="overlay"></div>
    <div class="row1">
      <h1 class="anime-name">Anime Name</h1>
    </div>
    <div class="row2">
      <h1 class="anime-rank">Ranked</h1>
      <h1 class="anime-rating">Rating</h1>
      <button>+ Add</button>
    </div>
  </div>

  <!-- Anime Detail Content -->
  <div>
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="Info">
        <!-- Info  -->
        <div class="example-small-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Synopsis">
        <!-- Synopsis -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Trailer">
        <!-- Trailer -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Reviews">
        <!-- Reviews -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
      <mat-tab label="Staff & Characters">
        <!-- Staff Characters -->
        <div class="example-large-box mat-elevation-z4"></div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
