@import "../../variables.scss";

.container {
  height: 35vh;
  width: 100%;
  display: flex;
  z-index: -1;
  .anime-name {
    font-size: 3em;
  }
  .overlay {
    height: 35vh;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 0.1;
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
      object-position: 0 30%;
    }
  }
}

.row1 {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-bottom: 1em;
  height: 100%;
  width: 50%;
  align-items: flex-end;
  z-index: 1;
}
.row2 {
  display: flex;
  justify-content: space-evenly;
  padding-left: 2em;
  padding-bottom: 1em;
  height: 100%;
  width: 50%;
  align-items: flex-end;
  z-index: 1;
  button {
    font-size: 2em;
    border-style: none;
    background: none;
    cursor: pointer;
    &:hover {
      color: $pri-color;
    }
  }
}

//Info Tab
.info {
  height: fit-content;
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  .mat-h2 {
    font-family: Roboto, sans-serif;
    font-size: 1em;
  }
  .info_row {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0;

    .producers {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
    }
    .genres {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
    }
  }
  .synopsis {
    width: 40%;
    height: fit-content;
    font-family: Roboto, sans-serif;

    text-align: start;
  }
}

//Trailer tab
.trailer-msg {
  text-align: center;
  margin-top: 2em;
}
.vid {
  padding: 3em;
  width: 60%;
  margin: 0 auto;
  [style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  [style*="--aspect-ratio"] > img {
    height: auto;
  }
  @supports (--custom: property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
//Character Tab
.char-msg {
  text-align: center;
  margin-top: 2em;
}
.class-container {
  width: 100%;
  height: fit-content;
  .characters {
    margin-top: 2em;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 50px 10px 5fr 10fr 5fr 10px 50px 5fr;
    grid-auto-rows: 50px;
    justify-content: center;
    .char_img {
      grid-column: 2;
      grid-row: 1;
      width: auto;
      height: 50px;
    }
    .char_name {
      grid-column: 4;
      grid-row: 1;
      margin: 0;
      align-self: center;
    }
    .va_img {
      grid-column: 8;
      width: auto;
      height: 50px;
      grid-row: 1;
      justify-self: end;
    }
    .va_name {
      grid-column: 6;
      grid-row: 1;
      margin: 0;
      align-self: center;
      justify-self: end;
    }
  }
  .no_info {
    text-align: center;
    margin-top: 2em;
  }
}
@media (max-width: 1100px) {
  .anime-name {
    font-size: 2em !important;
  }
  .row2 {
    flex-flow: column;
    margin-right: 1.5em;
    justify-content: flex-end;
    .anime-rank {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
    .anime-rating {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
    button {
      font-size: 1.5em;
    }
  }
  .info {
    flex-flow: column;
    .info_row {
      width: 100%;
      padding: 2em;
    }
    .synopsis {
      width: 100%;
      padding: 2em;
    }
  }
  .vid {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .info {
    .info_row {
      padding: 1em;
    }
    .synopsis {
      padding: 1em;
    }
  }
  .vid {
    width: 100%;
  }
}
