@import "../../variables.scss";

div {
  height: 50px;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    margin-left: 4em;
  }
  a {
    text-decoration: none;
  }
}
